env/
logs/
model/
__pycache__/
*.egg-info/
out/
.vscode/
slurm*.out
.DS_Store
*.pt
*.npy
*.npz
.ipynb_checkpoints
lightning_logs/
*bak
/hidisc/datasets/opensrh
hidisc/openslide-3.4.1/
hidisc/wandb
*.gz
hidisc/exps
