env/
logs/
model/
__pycache__/
*.egg-info/
out/
.vscode/
slurm*.out
.DS_Store
*.pt
*.npy
*.npz
.ipynb_checkpoints
lightning_logs/
*bak
/hlss/datasets/opensrh
hlss/openslide-3.4.1/
hlss/wandb
*.gz
hlss/exps
hlss/clip
hlss/visualize
hlss/visualize2
hlss/visualize3
hlss/unused
hlss/hidisc
hlss/allconfig
hlss/datasets/srh_dataset_wdino.py